@model SocialEvents.ViewModel.VMUserRegister

@{
    ViewBag.Title = "SignUpPage";
}

<h2>SignUpPage</h2>


<div id="registerForm">
    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { Class = "form-group" }))
    {
        <div>
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.Email)</div>
        </div>

        <div>
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.Password)</div>
        </div>

        <div>
            <label>Password again</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "form-control" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</div>
        </div>

        <input class="btn btn-primary" id="register" type="submit" value="Signup" />
    }
</div>